.friends-profile-footer {
  border-top: var(--profile-midline);
  height: 80px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  position: absolute;
  width: 600px;
  box-sizing: border-box;
  bottom: 0;
}

.friends-profile-footer-icon {
  cursor: pointer;
}
.friends-profile-footer-icon__link {
  color: black;
}
