/* body */
@import "reset.css";
@import "welcome.css";
@import "welcome-input.css";
@import "friends.css";
@import "chats.css";
@import "find.css";
@import "more.css";
@import "chat-message.css";
/* variables */
@import "variables.css";

/* component */
@import "header.css";
@import "footer.css";

/* animation */
@import "animation.css";
@import "no-mobile.css";
html {
  background-color: #e7e9eb;
}
body {
  width: 600px;
  /* height: 1000vh; */
  height: 750px;
  background-color: #f0f0f0;
}
